<section>
  <div class="main">
    <div class="container">
      <div class="course-carousel row">
        <div class="course-filter">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              课程分类 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">web前端开发</a></li>
              <li><a href="#">web后端开发</a></li>
              <li><a href="#">移动应用开发</a></li>
              <li><a href="#">软件测试</a></li>
              <li><a href="#">数据库</a></li>
              <li><a href="#">基础知识&实用工具</a></li>
              <li><a href="#">网络&操作系统</a></li>
              <li><a href="#">软件设计&系统架构</a></li>
              <li><a href="#">产品设计</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              课程体系 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">计算机基础技能</a></li>
              <li><a href="#">web前端工程师</a></li>
              <li><a href="#">Android开发工程师</a></li>
              <li><a href="#">MySQL数据库工程师</a></li>
              <li><a href="#">产品设计</a></li>
              <li><a href="#">软件测试工程师</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">全部体系</a></li>
            </ul>
          </div>
        </div>
        <div class="course">
          <ul>
            <li *ngFor="let course of course" class="col-md-3 col-sm-4 col-xs-6 card-padding">
              <a href="#" class="card"  [routerLink]="['/course',course.id]">
                <img src="{{course.images}}" class="card-img">
                <h5 class="card-heading">{{course.courseName}}</h5>
                <div class="card-content">
                  <span>{{course.content}}</span>
                </div>
                <div class="card-actions">
                  <span> 课时 {{course.classHour}}</span>
                  <span class="pull-right">人数 {{course.person}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-pager">
    <nav aria-label="Page navigation">
      <ul class="pagination pageposition">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
  <footer class="argo-footer">
    <div class="container">
      <div>
        <span class="text">2016级软件工程H5方向-李文轩</span>
      </div>
    </div>
  </footer>
</section>